apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    oncall-component: api
    oncall-component: web
    oncall-component: sender
    oncall-version: {{ .Chart.AppVersion }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app: {{ template "fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "fullname" . }}
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
    spec:
      containers:
        - name: oncall
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
          ports:
            - containerPort: {{ .Values.oncallService.internalPort }}
          env:
            {{- if not .Values.oncallService.dbInitialized }}
            - name: DOCKER_DB_BOOTSTRAP
              value: '1'
            {{- end }}
          volumeMounts:
            - name: oncall-volume
              mountPath: /home/oncall/config
              readOnly: true
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: oncall-volume
          configMap:
            name: oncall-config
